@import '../../../styles/colors.scss';

p.empty_schedule {
    text-align: center;
    font-weight: bold;
    margin: 50px auto;
}
h1 {
    text-align: center;
}
.form-card.width-auto {
    width: auto;
    .MuiFormControl-root,
    .MuiInputBase-input {
        margin: 0px 15px;
        width: auto;
    }
}
.place {
    padding: 10px;
    width: 120px;
    border-radius: 10px;
}

.schedule_page-container {
    .schedule-form-card {
        width: 85%;

        .schedule-form {
            display: grid;
            grid-template-columns: repeat(4, 1fr) 80px;
            grid-template-rows: 50px;
            column-gap: 20px;
            place-items: center;

            @media (max-width: 1280px) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 50px) auto;
                gap: 10px 20px;
            }

            @media (max-width: 950px) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(2, 50px) auto;
                justify-items: center;
            }

            @media (max-width: 800px) {
                grid-template-columns: 1fr;
                grid-template-rows: repeat(5, 50px);
                justify-items: center;
            }
        }

        .schedule-form_submit {
            height: 30px;
            width: 30px;
        }

        .schedule-form_semester,
        .schedule-form_group,
        .schedule-form_teacher,
        .schedule-form_department {
            width: 200px;
            .MuiFormControl-root {
                width: 100%;
            }

            @media (max-width: 500px) {
                width: 180px;
            }
        }

        .schedule-form_group,
        .schedule-form_teacher {
            @media (max-width: 1280px) {
                grid-row: 2;
            }
            @media (max-width: 950px) {
                grid-row: auto;
            }
        }

        .schedule-form_department,
        .schedule-form_submit {
            @media (max-width: 1280px) {
                grid-row: 3;
            }
            @media (max-width: 950px) {
                grid-row: auto;
            }
        }

        @media (max-width: 950px) {
            position: static;
        }
        @media (max-width: 500px) {
            width: 95%;
        }
    }
}

.schedule-form-buttons-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    @media (max-width: 950px) {
        flex-direction: column;
        align-items: center;
    }
}

#select-place {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 0;
    margin-left: 20px;

    label {
        color: $label-color;
        margin-bottom: 8px;
    }

    @media (max-width: 950px) {
        margin-left: 0;
        margin-top: 20px;
    }
}

.schedule_page-container > * {
    margin: 8px;
}