@import '../../../styles/colors.scss';
@import '../../../styles/variables.scss';
@import '../../../styles/mixins.scss';

.selected-group {
    border: 2px solid $blue3;
    .group-title {
        color: $blue3;
    }
}

//.groups-section {
//    position: relative;
//    margin: 0;
//    padding-top: 15px;
//    display: flex;
//}

.groups-section {
    position: relative;
    margin: 0;
    width: 100%;
    box-sizing: border-box;
    padding-top: 15px;
    margin-right: 10px;
    display: flex;
    flex: 1;
    overflow: hidden;

    > div {
        overflow-x: auto !important;
        overflow-y: hidden !important;
        scrollbar-width: none; /* Firefox */
        &::-webkit-scrollbar {
            display: none; /* Chrome/Safari */
        }
    }
}

.schedule-table {
    .no-current-semester {
        margin: 10% auto 0;
    }
    .schedule-card {
        margin: 5px;
        &.schedule-class,
        &.schedule-day {
            margin-top: 0;
            margin-bottom: 0;
        }
    }
    .group-section {
        margin: 0;
    }

    .group-title {
        @include displayFlex(stretch, center);
        height: 34px;
        padding: 10px 7px;
        font-size: $font-xs;
        overflow: hidden;
    }
    .day-classes-aside .day-sidebar-title {
        margin: 5px 5px 5px 0px;
    }
}
.day-line {
    margin: 0;
    padding: 0;
}

.sticky-container {
    position: sticky;
    top: 0;
    z-index: 9;
}

.class-section {
    @include displayFlex(center, center, column);
    flex-wrap: wrap;
    width: 60px;
    margin: 0;
    align-content: center;
}

.availability-warning {
    color: $delete-color;
}

.group-section {
    &:hover {
        position: relative;
        &::after {
            position: absolute;
            top: 0;
            content: '';
            width: $full-size;
            height: $full-size;
            background: none;
            border: 2px solid $blue3;
        }
    }
}

.group-section.loading {
    pointer-events: none;
    opacity: 0.6;
    position: relative;
}

.column-loading-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.5);
    z-index: 10;
}
