$white: #ffffff;

$black: #0f0f0f;

$gray1: #d1d5db;
$gray2: #edeef1;
$grey4: #e0e0e0;
$gray3: #9c9c9c;
$gray: #6b7280;

$blue1: #f7fafd;
$blue2: #e8f1f8;
$blue3: #4c94f6;
$blue: #1976d2;
$blue4: #155da5;
$blue5: #3f51b5;
$blue6: #32408f;

$green1: #c7f6b6;
$green2: #90ee90;
$green: #028802;
$green3: #184b44;

$yellow: #f7f7c1;
$yellow1: #ffc000;

$red1: #ff9999;
$red2: #ff7f7f;
$red: #e62116;

$azure: #add8e6;

// opacity
$shadow-box: #00000042;
$scroll-color: #3333336c;
$blue-shadow-box: #1976d242;
$scroll-hover-color: #333333b9;
$selected-hover-color: #0000001a;

// hover
$blue-btn-hover: $blue4;
$table-row-hover-color: $blue2;

$link: $blue;
$label-color: $gray3;
$warning-color: $yellow;
$background-color: $blue5;
$table-row-color: $blue1;
$danger-background-color: $red1;

$edit-color: $blue;
$delete-color: $red;
$create-color: $green;

//Lesson types - synchronize with constants/lessonTypeColors.js
$lesson-type-lecture: #689F38;
$lesson-type-lecture-light: #F1F8E9;

$lesson-type-laboratory: $blue;
$lesson-type-laboratory-light: #E8F4FD;

$lesson-type-practical: #F9A825;
$lesson-type-practical-light: #FFF8E1;

$lesson-type-seminar: #8E24AA;
$lesson-type-seminar-light: #F3E5F5;

$lesson-type-default: $gray;
$lesson-type-default-light: #F5F5F5;
