@import "../../../styles/variables.scss";
@import "../../../styles/colors.scss";
@import "../../../styles/mixins.scss";


.board-container {
    @include displayFlex(stretch, center);
    position: relative;
    // WARNING: This height is used in Schedule.js for listHeight calculation
    // If you change it, update BOARD_CONTAINER_HEIGHT constant in Schedule.js
    height: 114px;
    width: 100%;
    box-sizing: border-box;
    .schedule-item,
    .board {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 100px;
        overflow: hidden;
        box-shadow: 0 2px 8px $shadow-box;
    }
    .schedule-item {
        width: calc(100% - 10px);
        position: relative;
        display: inline-block;
        margin: 5px;
        padding: 16px 10px;

        .lesson-type-stripe {
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            width: 4px;
            border-radius: 4px 0 0 4px;
        }

        .lesson-title {
            display: -webkit-box;
            width: 130px;
            margin: {
                top: 0px;
                bottom: 0px;
            }
            overflow: hidden;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
        .lesson-duration,
        .teacher-name {
            margin-top: 4px;
            margin-bottom: 3px;
            font-size: $font-2xs;
            b {
                color: $blue;
            }
        }
        .lesson-duration {
            margin-top: 3px;
        }
        &-menu {
            position: absolute;
            top: 3px;
            right: 2px;
            min-width: 20px;
            padding: 0;

            .MuiButton-label {
                font-size: 18px;
            }
        }

        &:hover {
            position: absolute;
            z-index: 20;
            height: unset;
            min-height: 100px;
            box-shadow: 0 0 8px 4px $blue-shadow-box;
            .lesson-title {
                display: block;
            }
        }
    }
    .board {
        p:first-letter {
            text-transform: uppercase;
        }
        p {
            @include displayFlex(center, center);
            height: $full-size;
            margin: 0;
            color: $gray;
            font-size: $font-2xs;
        }
    }
    .grouped-icon {
        position: absolute;
        right: 5px;
        bottom: 15px;
        color: $create-color;
    }
    .possible {
        background-color: $warning-color;
        p {
            color: $black;
        }
    }
    .allow {
        background-color: $green1;
        p {
            color: $black;
        }
    }
    .not-allow {
        background-color: $red2;
        p {
            color: $white;
        }
    }
}
.action-menu {
    .MuiPaper-root {
        .edit-item,
        .delete-item {
            font-size: $font-xs;
        }
        .delete-item {
            color: $red;
        }
        .edit-item {
            color: $blue;
        }
    }
}
