@import '../../../../styles/variables.scss';
.room-card {
    height: 150px;
    width: 235px;

    &-name {
        margin: 5px 0 15px;
        font-size: $font-l;
    }
    &-title {
        margin: 5px 0 15px;
    }
}

.room-card.drag-border-card {
    box-shadow: 10px 0 5px -2px $blue3;
}
